apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: blog-next

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: blog-next-configmap
    literals:
      - SITE_URL=site.url.here

resources:
  - blog-next-namespace.yaml
  - blog-next-deployment.yaml
  - blog-next-ingress.yaml
  - blog-next-service.yaml
  - blog-next-circleci-sa.yaml

vars:
  - name: SITE_URL
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: blog-next-configmap
    fieldref:
      fieldpath: data.SITE_URL
