html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skip-link {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.skip-link:focus {
  display: inline-block;
  height: auto;
  left: 0;
  width: auto;
  position: absolute;
  margin: auto;
  padding: 0.7em;
  top: 2em;
  z-index: 2;
}

body.dark-mode {
  background: #010017;
  background: linear-gradient(270deg, #010017, #01000f);
  background-size: 400% 400%;
  color: white;
  @media screen and (prefers-reduced-motion: no-preference) {
    -webkit-animation: BackgroundAnimation 30s ease infinite;
    -moz-animation: BackgroundAnimation 30s ease infinite;
    animation: BackgroundAnimation 30s ease infinite;
  }

}
body.dark-mode .skip-link:focus {
  background: black;
  color: white;
}


body.light-mode {
  background-color: white;
}
body.light-mode .skip-link:focus {
  background: white;
  color: #54007b;
}

body.light-mode .light-toggle {
  display: none;
  visibility: hidden;
}

body.dark-mode .dark-toggle {
  display: none;
  visibility: hidden;
}

.visually-hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
